@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.Book{
    margin-left: 5%;
}

.BookImage{
    width: 40%;
    height: auto;
}

.BookTitle{
    font-size: 21px;
    font-weight: 500;
    margin-left: 17%;
    position: absolute;
    top: 17%;
}

.BookAuthor{
    font-size: 21px;
    margin-left: 17%;
    position: absolute;
    top: 22%;
}

.BookSeries{
    font-size: 19px;
    margin-left: 17%;
    position: absolute;
    top: 30%;
}

.BookGenre{
    font-size: 19px;
    margin-left: 17%;
    position: absolute;
    top: 35%;
}

.BookCategories{
    font-size: 19px;
    margin-left: 17%;
    position: absolute;
    top: 45%;
    font-weight: 500;
}

.categories{
    font-weight: 400;
}

.DeleteBookButton {
    margin-top: 1rem;
    margin-left: 6.5%;
    width: 12%;
    height: 40px;
    background-color: #efeff6;
    border-radius: 8px;
    border-color: transparent;
    position: relative;
    padding-left: 1%;
}

.DeleteBookButton:hover {
    color: red;
    background-color: #efeff6;
    filter: brightness(97%);
}

.fa-solid.fa-trash-can {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-55%);
    font-size: 15px;
}