@model BookApp.Models.BookViewModel

@{
    ViewData["Title"] = "Add book to library";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/AddBook.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/de6521028c.js" crossorigin="anonymous"></script>
</head>

<body>

    <form class="d-flex">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="searchbar" type="search" placeholder="Search book" aria-label="Search">
    </form>

            <h1 class="AddCategory">Add category</h1>
            <div class="dropdown">
                <label for="category-options"></label>
                <button class="fa-solid fa-plus"></button>
                <select name="category-options" id="category-options">
                    <option value="SelectCategory">Select a category</option>
                    <option value="WantToRead">Want to read</option>
                    <option value="CurrentlyReading">Currently reading</option>
                    <option value="Read">Read</option>
                </select>
            </div>

        <button type="submit" class="AddBookButton">Add book</button>

</body>
</html>
