@model BookApp.Models.AddBookViewModel
@{
    ViewData["Title"] = "Add book to library";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/AddBook.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/de6521028c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid-column">
        <div class="grid-item">
            <form class="d-flex">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="searchbar" type="search" placeholder="Search book" aria-label="Search">
            </form>

            <h1 class="AddCategory">Add category</h1>
            <div class="dropdown">
                <label for="category-options"></label>
                <i class="fa-solid fa-square-plus"></i>
                <div class="dropdownClone" id="dropdownContainer">
                    <select name="category-options" id="category-options">
                        <option value="SelectCategory">Select a category</option>
                        <option value="WantToRead">Want to read</option>
                        <option value="CurrentlyReading">Currently reading</option>
                        <option value="Read">Read</option>
                    </select>
                </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const addButton = document.querySelector('.fa-square-plus');

                    addButton.addEventListener('click', function () {
                        const dropdownContainer = document.getElementById('dropdownContainer');
                        const clonedDropdown = dropdownContainer.cloneNode(true);
                        const newContainer = document.createElement('div');
                        newContainer.classList.add('dropdownClone');
                        newContainer.appendChild(clonedDropdown);
                        dropdownContainer.parentNode.appendChild(newContainer);
                    });
                });
            </script>

            @using (Html.BeginForm("SaveBook", "AddBook", FormMethod.Post))
            {
                <input type="hidden" id="chosenBookId" name="chosenBookId" value="" />
                <button type="submit" class="AddBookButton">Add book</button>
            }

        </div>
        <div class="grid-item2">
            <div class="BookList">
                @foreach (var bookDTO in Model.Books)
                {
                    <div class="grid-item3" data-book-id="@bookDTO.Id" onclick="handleBookClick(event)">
                        <div class="BookImage">
                            <img src="@bookDTO.ImageUrl" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>@bookDTO.Title</p>
                        </div>
                           <div class="BookAuthor">
                            <p>@bookDTO.Author</p>
                        </div>
                    </div>
                }
            </div>
        </div>


<script>
    function handleBookClick(event) {
        var clickedElement = event.target.closest('.grid-item3');
        if (clickedElement) {
            var id = clickedElement.dataset.bookId;
            var title = clickedElement.querySelector('.BookTitle p').textContent;
            var author = clickedElement.querySelector('.BookAuthor p').textContent;
            displayChosenBook(title, author, id);
        }
        
        function displayChosenBook(title, author, id) {
             var chosenBookTitle = document.getElementById('chosenTitle');
             var chosenBookAuthor = document.getElementById('chosenAuthor');
             var chosenBookIdInput = document.getElementById('chosenBookId');
             var chosenBookImage = document.querySelector('.bookImagechosen');
         
             chosenBookTitle.textContent = title;
             chosenBookAuthor.textContent = author;
             chosenBookIdInput.value = id;
         
             chosenBookImage.style.display = 'block';
         }
    }
</script>

        <div class="chosenbook">
            <img src="~/Images/HarryPotterAndThePrisonerOfAskaban_JK_Rowling.png" class="bookImagechosen" style="display: none;" />
            <div class="BookTitlechosen">
                <p id="chosenTitle"></p>
            </div>
            <div class="BookAuthorchosen">
                <p id="chosenAuthor"></p>
            </div>
        </div>

    </div>
</body>
</html>
