@model BookApp.Models.BookViewModel

@{
    ViewData["Title"] = "Add book to library";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/AddBook.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/de6521028c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid-column">
        <div class="grid-item">
            <form class="d-flex">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="searchbar" type="search" placeholder="Search book" aria-label="Search">
            </form>
        
            <h1 class="AddCategory">Add category</h1>
            <div class="dropdown">
                <label for="category-options"></label>
                <button class="fa-solid fa-plus"></button>
                <select name="category-options" id="category-options">
                    <option value="SelectCategory">Select a category</option>
                    <option value="WantToRead">Want to read</option>
                    <option value="CurrentlyReading">Currently reading</option>
                    <option value="Read">Read</option>
                </select>
            </div>

        <button type="submit" class="AddBookButton">Add book</button>
        </div>
        <div class="grid-item2">
@*             code needs to be added with list of excisting books 
                Temporary placeholders
*@
            
                <div class="BookList">
                <div class="grid-item3">
                    <div class="BookImage">
                    <img src="~/Images/HarryPotterAndThePhilosophersStone_JK_Rowling.png" alt="book cover" class="BookImage" />
                    </div>
                    <div class="BookTitle">
                        <p>Book Title</p>
                    </div>
                    <div class="BookAuthor">
                        <p>Author</p>
                    </div>
                </div>

                    <div class="grid-item3">
                    <div class="BookImage">
                    <img src="~/Images/HarryPotterAndThePrisonerOfAskaban_JK_Rowling.png" alt="book cover" class="BookImage" />
                    </div>
                    <div class="BookTitle">
                        <p>Book Title</p>
                    </div>
                    <div class="BookAuthor">
                        <p>Author</p>
                    </div>
                </div>

                        <div class="grid-item3">
                          <div class="BookImage">
                        <img src="~/Images/TheWitcherTheLastWish_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                </div>

                                <div class="grid-item3">
                        <div class="BookImage">
                        <img src="~/Images/TheWitcherBloodOfElves_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                </div>

                <div class="grid-item3">
                    <div class="BookImage">
                        <img src="~/Images/HarryPotterAndThePhilosophersStone_JK_Rowling.png" alt="book cover" class="BookImage" />
                    </div>
                    <div class="BookTitle">
                        <p>Book Title</p>
                    </div>
                    <div class="BookAuthor">
                        <p>Author</p>
                    </div>
                </div>

                <div class="grid-item3">
                    <div class="BookImage">
                        <img src="~/Images/HarryPotterAndThePrisonerOfAskaban_JK_Rowling.png" alt="book cover" class="BookImage" />
                    </div>
                    <div class="BookTitle">
                        <p>Book Title</p>
                    </div>
                    <div class="BookAuthor">
                        <p>Author</p>
                    </div>
                </div>

                <div class="grid-item3">
                    <div class="BookImage">
                        <img src="~/Images/TheWitcherTheLastWish_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                    </div>
                    <div class="BookTitle">
                        <p>Book Title</p>
                    </div>
                    <div class="BookAuthor">
                        <p>Author</p>
                    </div>
                </div>

                <div class="grid-item3">
                    <div class="BookImage">
                        <img src="~/Images/TheWitcherBloodOfElves_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                    </div>
                    <div class="BookTitle">
                        <p>Book Title</p>
                    </div>
                    <div class="BookAuthor">
                        <p>Author</p>
                    </div>
                </div>


                <div class="BookList">
                    <div class="grid-item3">
                        <div class="BookImage">
                            <img src="~/Images/HarryPotterAndThePhilosophersStone_JK_Rowling.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                    </div>

                    <div class="grid-item3">
                        <div class="BookImage">
                            <img src="~/Images/HarryPotterAndThePrisonerOfAskaban_JK_Rowling.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                    </div>

                    <div class="grid-item3">
                        <div class="BookImage">
                            <img src="~/Images/TheWitcherTheLastWish_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                    </div>

                    <div class="grid-item3">
                        <div class="BookImage">
                            <img src="~/Images/TheWitcherBloodOfElves_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                    </div>

                    <div class="grid-item3">
                        <div class="BookImage">
                            <img src="~/Images/HarryPotterAndThePhilosophersStone_JK_Rowling.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                    </div>

                    <div class="grid-item3">
                        <div class="BookImage">
                            <img src="~/Images/HarryPotterAndThePrisonerOfAskaban_JK_Rowling.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                    </div>

                    <div class="grid-item3">
                        <div class="BookImage">
                            <img src="~/Images/TheWitcherTheLastWish_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                    </div>

                    <div class="grid-item3">
                        <div class="BookImage">
                            <img src="~/Images/TheWitcherBloodOfElves_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                        </div>
                        <div class="BookTitle">
                            <p>Book Title</p>
                        </div>
                        <div class="BookAuthor">
                            <p>Author</p>
                        </div>
                    </div>

                    <div class="BookList">
                        <div class="grid-item3">
                            <div class="BookImage">
                                <img src="~/Images/HarryPotterAndThePhilosophersStone_JK_Rowling.png" alt="book cover" class="BookImage" />
                            </div>
                            <div class="BookTitle">
                                <p>Book Title</p>
                            </div>
                            <div class="BookAuthor">
                                <p>Author</p>
                            </div>
                        </div>

                        <div class="grid-item3">
                            <div class="BookImage">
                                <img src="~/Images/HarryPotterAndThePrisonerOfAskaban_JK_Rowling.png" alt="book cover" class="BookImage" />
                            </div>
                            <div class="BookTitle">
                                <p>Book Title</p>
                            </div>
                            <div class="BookAuthor">
                                <p>Author</p>
                            </div>
                        </div>

                        <div class="grid-item3">
                            <div class="BookImage">
                                <img src="~/Images/TheWitcherTheLastWish_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                            </div>
                            <div class="BookTitle">
                                <p>Book Title</p>
                            </div>
                            <div class="BookAuthor">
                                <p>Author</p>
                            </div>
                        </div>

                        <div class="grid-item3">
                            <div class="BookImage">
                                <img src="~/Images/TheWitcherBloodOfElves_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                            </div>
                            <div class="BookTitle">
                                <p>Book Title</p>
                            </div>
                            <div class="BookAuthor">
                                <p>Author</p>
                            </div>
                        </div>

                        <div class="grid-item3">
                            <div class="BookImage">
                                <img src="~/Images/HarryPotterAndThePhilosophersStone_JK_Rowling.png" alt="book cover" class="BookImage" />
                            </div>
                            <div class="BookTitle">
                                <p>Book Title</p>
                            </div>
                            <div class="BookAuthor">
                                <p>Author</p>
                            </div>
                        </div>

                        <div class="grid-item3">
                            <div class="BookImage">
                                <img src="~/Images/HarryPotterAndThePrisonerOfAskaban_JK_Rowling.png" alt="book cover" class="BookImage" />
                            </div>
                            <div class="BookTitle">
                                <p>Book Title</p>
                            </div>
                            <div class="BookAuthor">
                                <p>Author</p>
                            </div>
                        </div>

                        <div class="grid-item3">
                            <div class="BookImage">
                                <img src="~/Images/TheWitcherTheLastWish_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                            </div>
                            <div class="BookTitle">
                                <p>Book Title</p>
                            </div>
                            <div class="BookAuthor">
                                <p>Author</p>
                            </div>
                        </div>

                        <div class="grid-item3">
                            <div class="BookImage">
                                <img src="~/Images/TheWitcherBloodOfElves_Andrzej_Sapkowski.png" alt="book cover" class="BookImage" />
                            </div>
                            <div class="BookTitle">
                                <p>Book Title</p>
                            </div>
                            <div class="BookAuthor">
                                <p>Author</p>
                            </div>
                        </div>
                </div>

            </div>
        </div>

    </div>
</body>
</html>
