@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true"/>
    <link rel="icon" type="image/png" href="~/Images/BookLogo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/de6521028c.js" crossorigin="anonymous"></script>
    <title>Reading Realm</title>
</head>
<body>
<div>
    <div class="image"><img src="~/Images/BookLogo.png"/></div>
    <div class="welcomeCreate">Create your account</div>
</div> 

<form method="post" action="/Home/CreateAccount">
    <div class="Login">
        <h1 class="Name">Enter your name here</h1>
        <input class="NameInput" name="Name" placeholder="Enter name here">
        <h1 class="email">Enter your email address here</h1>
        <input class="UsernameInput" name="Emailaddress" placeholder="Enter email address here">
        
        <h1 class="Password">Enter your password here</h1>
        <div class="password-container">
            <input class="PasswordInput" type="password" name="Password" placeholder="Enter password here">
            <span class="toggle-password" onclick="togglePasswordVisibility(this)">
                <i class="fas fa-eye-slash"></i>
            </span>
        </div>
        
        <div class="loginButtonDiv">
            <button type="submit" class="createaccountButton">Create account</button>
        </div>
    </div>
</form>

<p class="logintText">Already registered? <a asp-area="" asp-controller="Home" asp-action="Index">log into your account.</a></p>

<script>
    function togglePasswordVisibility(element) {
        var passwordInput = element.parentElement.querySelector('.PasswordInput');
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            element.innerHTML = '<i class="fas fa-eye"></i>';
        } else {
            passwordInput.type = "password";
            element.innerHTML = '<i class="fas fa-eye-slash"></i>';
        }
    }
</script>

</body>
</html>
