@model BookApp.Models.LibraryViewModel

@{
    ViewData["Title"] = "Your Library";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        @foreach (var book in Model.Books)
        {
            <div class="grid-item">
                <div class="BookImage">
                    <img src="~/Images/HarryPotterAndThePrisonerOfAskaban_JK_Rowling.png" class="BookImage"/>
                </div>
                <div class="BookTitle">
                    <p>@book.Title</p>
                </div>
                <div class="BookAuthor">
                    <p>@book.Author</p>
                </div>
            </div>
        }
    </div>
</body>
</html>
