@model BookApp.Models.LibraryViewModel

@{
    ViewData["Title"] = "Your Library";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>
<body>
    <h2 class="Book-List">Book List</h2>
    <ul>
        @foreach (var book in Model.Books)
        {
            <li>@book.Title - @book.Author</li>
        }
    </ul>
</body>
</html>
