@model BookApp.Models.CategoryViewModel
@{
    ViewData["Title"] = "Add category";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/AddCategory.css" asp-append-version="true" />
</head>

<body>
    @using (Html.BeginForm("AddCategoryName", "AddCategory", FormMethod.Post))
    {
        <div class="CategoryInformation">
            <h1 class="CategoryName">Add category name</h1>
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(model => model.Name, new { id = "AddPatternName", placeholder = "Enter category name..." })
        </div>

        <button type="submit" class="AddCategoryButton">Add category</button>
    }
    
    <div class="Categories">
        @if (Model.Categories != null)
        {
            @foreach (var categoryDTO in Model.Categories)
            {
                <p>@categoryDTO.Name</p>
            }
        }
        else
        {
            <p>No categories available.</p>
        }
    </div>
    


</body>
</html>
