@model BookApp.Models.AddCategoryViewModel
@{
    ViewData["Title"] = "Add category";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/AddCategory.css" asp-append-version="true" />
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
@using (Html.BeginForm("AddCategoryName", "AddCategory", FormMethod.Post))
{
    <div class="CategoryInformation">
        <h1 class="CategoryName">Add category name</h1>
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(model => model.Name, new { id = "AddPatternName", placeholder = "Enter category name..." })
    </div>

    <button type="submit" class="AddCategoryButton">Add category</button>
}
    
    <div class="Categories">
        @if (Model.Categories != null)
        {  
            <p class="categorytype">Standard Categories</p>
            @foreach (var categoryDTO in Model.Categories.Where(c => c.IsStandard == true))
            {
                <p class="categoryNameStand">@categoryDTO.Name</p>
                <div class="Icons">
                </div>
                <hr class="LineStand">
            }
         
            <p class="categorytype">Your Categories</p>
            @foreach (var categoryDTO in Model.Categories.Where(c => c.IsStandard == false))
            {
                <p id="categoryName_@categoryDTO.Id" class="categoryNames">@categoryDTO.Name</p>
                <div class="Icons">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                <hr class="line">
            }
        }
        else
        {
            <p>No categories available.</p>
        }
    </div>
</body>
</html>