@{
    ViewData["Title"] = "Add category";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/AddCategory.css" asp-append-version="true" />
</head>

<body>

    <div class="CategoryInformation">
        <h1 class="CategoryName">Add category name</h1>

       @using (Html.BeginForm("AddCategory", "AddCategory", FormMethod.Post))
        {
            <input type="text" class="NameInput" id="AddCategory" placeholder="Enter category name..." />
        }
    </div>

    <button action="submit" class="AddCategoryButton">Add category</button>




</body>
</html>
