@{
    ViewData["Title"] = "Add category";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/AddCategory.css" asp-append-version="true" />
</head>

<body>

    <div class="CategoryInformation">
        <h1 class="CategoryName">Add category name</h1>

        <input type="text" class="NameInput" id="AddTitle" placeholder="Enter category name..." />
    </div>

    <button action="submit" class="AddCategoryButton">Add category</button>




</body>
</html>
